@{
    ViewBag.Title = "Checkbox";
}
<form method="post">
    <label>Is Selected:</label>
    <input type="checkbox" name="isSelected" value="true" /><br /><br />
    <input type="submit" value="Send" />
</form>