<div>
    <ul>
        <li> <a asp-controller="Forms" asp-action="Basic">Basic Form</a></li>
        <li><a asp-controller="Forms" asp-action="Checkbox">Checkbox Form</a></li>
        <li><a asp-controller="Forms" asp-action="Radio">Radio Form</a></li>
        <li><a asp-controller="Forms" asp-action="Select">Select Form</a></li>
    </ul>
</div>
