@{
    ViewBag.Title = "Radio";
}
<form method="post">

    <input name="color" type="radio" value="red" />
    <span>red</span> <br />
    <input name="color" type="radio" value="blue" />
    <span>blue</span> <br />
    <input checked="checked" name="color" type="radio" value="green" />
    <span>green</span>

    <p>
        <input type="submit" value="Send" />
    </p>
</form>