@{
    ViewBag.Title = "Select";
}
<form method="post">
    <p>
        <label for="language">Выберите язык:</label>
        <select multiple name="languages">
            <option value="csharp">C#</option>
            <option value="vbnet">Visual Basic.NET</option>
            <option value="fsharp">F#</option>
            <option value="typescript">TypeScript</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>